<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Detalle del producto</ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <ion-card>
        <ion-item *ngIf="product">
            
                <h2>{{ product.name }}</h2>
                <p>{{ product.type }}</p>
            
            <ion-badge item-right>{{ product.price }}</ion-badge>
        </ion-item>
    </ion-card>
    <div *ngIf="product">
        <button ion-button secondary (click)="navToRemoveProduct()">Eliminar producto</button>
        <br />
        <button ion-button secondary (click)="navToEditProduct()">Editar producto</button>
        <br />
        <button ion-button secondary (click)="navToSignOff()">Cerrar sesión</button>
        <br />
    </div>
</ion-content>
